In [ ]:
import pandas as pd
import matplotlib.pyplot as mtp 
import numpy as nm

data = pd.read_csv('student-por.csv')
df = pd.DataFrame(data)

df3 = df[['age','studytime','freetime','goout','G1', 'G2', 'G3','higher']].copy()
df3.head()

   age  studytime  freetime  goout  G1  G2  G3 higher
0   18          2         3      4   0  11  11    yes
1   17          2         3      3   9  11  11    yes
2   15          2         3      2  12  13  12    yes
3   15          3         2      2  14  14  14    yes
4   16          2         3      2  11  13  13    yes

In [ ]:
df[['school','sex','age','studytime','freetime','Dalc','Walc']]

    school sex  age  studytime  freetime  Dalc  Walc
0       GP   F   18          2         3     1     1
1       GP   F   17          2         3     1     1
2       GP   F   15          2         3     2     3
3       GP   F   15          3         2     1     1
4       GP   F   16          2         3     1     2
..     ...  ..  ...        ...       ...   ...   ...
644     MS   F   19          3         4     1     2
645     MS   F   18          2         3     1     1
646     MS   F   18          2         1     1     1
647     MS   M   17          1         4     3     4
648     MS   M   18          1         4     3     4

[649 rows x 7 columns]

In [ ]:
X = df3.iloc[:, :-1].values
y = df3.iloc[:, 7].values  
  
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)
  
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
from sklearn.naive_bayes import GaussianNB  
classifier = GaussianNB()  
classifier.fit(X_train, y_train)

GaussianNB()

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix  
cm = confusion_matrix(y_test, y_pred)

In [ ]:
from sklearn import metrics
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)

Gaussian Naive Bayes model accuracy(in %): 82.05128205128204